<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add book</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Add book</h1>
    <form action="/add-book" method="POST">
        <label for="no">Bookno</label>
        <input type="number" name="bookno" >
    <br/>
        <label for="name">BookName</label>
        <input type="text" name="bookname" required>
    <br/>
    
        <label for="issuedate">Issuedate</label>
        <input type="date" name="issuedate" />
    <br/>
    <label for="returndate">Return Date</label>
       <input type="date" name="returndate"/>
        <br/>
        <label for="studentname">Student Name</label>
        <input type="text" name="studentname"/><br/>
        <button type="submit">ADD</button>
        <a href="/view-book">View Book</a>
    </form>
</body>
</html>
